#header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #79B49F;

  .link-text {
    color: #ffffff;
    text-decoration: none;
  }

  .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
    .word-E {
      color: #006928;
    }
  }
  .header-box {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 30px;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
  }
  .sign-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 0 20px;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
  }

}