.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // 어두운 배경 (투명도 0.5)
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // 다른 요소들보다 위에 표시되도록 설정
  .modal-meet-content {
    display: flex;
    width: 500px;

    .daumpostcode {
      height: 600px !important;
    }
  }
}

.meet-post-container {
  width: 100%;
  height: 93vh;
  padding-top: 7vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .content-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;


    box-shadow: 2px 0px 2px -2px rgba(34, 47, 62, .1),
    8px 0px 8px -4px rgba(34, 47, 62, .07);


    .title-box {
      width: 98%;
      margin-top: 2vh;

      .title-input {
        width: 100%;
        height: 30px;
        font-size: 30px;
        border: none;
        outline: none;
      }
    }

    .tox-tinymce {
      width: 100%;
      height: 100%;
      border: none;
      .tox-statusbar {
        display: none;
      }
    }

    .tox.tox-tinymce.tox-edit-focus {
      height: 100% !important;
    }
  }
  .send-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .img-box {
      width: 480px;
      height: 340px;
      background: #ccc;
      border-radius: 10px;
      .img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    .img-input {
      display: none;
    }

    .radio-group {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      font-size: 25px;
    }

    .adress-box {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .mp-adress {
        width: 75%;
        height: 28px;
        font-size: 15px;
      }
      .adress-btn {
        width: 90px;
        height: 35px;
        background: #79B49F;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 15px;
      }
    }

    .meetpost-btn-box {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .check {
        width: 100px;
        height: 35px;
        background: #76AEA8;
        border: 1px solid #76AEA8;
        font-size: 18px;
        border-radius: 5px;
        color: #fff;
      }
      .cancel {
        width: 100px;
        height: 35px;
        background: #fff;
        border: 1px solid #333;
        font-size: 18px;
        border-radius: 5px;
        color: #333;
      }
    }
  }
}