.myinfo-container {
  width: 100%;
  height: 93vh;
  padding-top: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  top: 0;
  .myinfo-text-box {
    margin-top: 8vh;
    font-size: 30px;
  }
  .profile-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .header {
      width: 30%;
      height: 100%;
    }
    .myinfo-bg {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: inset 0 0 10px rgb(0,0,0,0.25);

      .myinfo-box {
        width: 83%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #76AEA8;
        border-radius: 5px;
        padding: 2%;
        .myname-box {
          height: 30%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 20px;

          .myinfo-img {
            width: 60px;
            height: 60px;
            background: #CCCCCC;
            border-radius: 50%;
          }
          .img-input {
            display: none;
          }
          .myinfo-name {
            font-size: 22px;
          }
        }
        .myinfo-data {
          height: 56%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          //padding-top: 4%;
          font-size: 18px;

          .pn-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            .pn-input {
              font-size: 20px;
            }
          }
          .email-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            .email-input {
              font-size: 20px;
            }
          }
          .pw-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            .pw-input {
              font-size: 20px;
            }
          }
        }
      }
      .myadd-box {
        width: 83%;
        height: 16%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid #76AEA8;
        border-radius: 5px;
        padding: 2%;
        .ad-title {
          font-size: 22px;
        }
        .detail-myadd {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 20px;
          .ar-ad {
            width: 60%;
            height: 28px;
            font-size: 20px;
          }
          .adress-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 35px;
            background: #79B49F;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            color: #fff;
          }
          .j-ad {
            font-size: 18px;
          }
        }
      }
      .row-btn-box {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        .cancle-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120px;
          height: 45px;
          font-size: 18px;
          color: #333333;
          background: #ffffff;
          border-radius: 5px;
          border: 1px solid #333333;
        }
      }
      .info-modify-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 45px;
        font-size: 18px;
        color: #ffffff;
        background: #438385;
        border-radius: 5px;
      }
    }
  }
}