.signup-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .signup-title {
    font-size: 50px;
  }
  .signup-box {
    height: 80%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #636363;
    font-size: 24px;
  }
  .profile-box {
    width: 150px;
    height: 150px;
    background: #ADADAD;
      border-radius: 50%;
    }
  .sign-info-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    .nn-box {
      width: 100%;
      display: flex;
      flex-direction: row;
      .nn-input {
        width: 48%;
        height: 40px;
        font-size: 18px;
        padding: 1%;
      }
      .name-box {
        border: none;
      }
      .nickname-box {
        border-left: 1px solid #ADADAD;
        border-bottom: none;
        border-right: none;
        border-top: none;
      }
    }
    .beside-inputs {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .inputbox-css {
        width: 98%;
        height: 40px;
        border-top: 1px solid #ADADAD;
        border-right: none;
        border-bottom: none;
        border-left: none;
        padding: 1%;
        .low-input {
          width: 50%;
          height: 100%;
          border: none;
          outline: none;
          font-size: 18px;
        }
        .message {
          width: 50%;
          font-size: 15px;
        }
      }

    }
  }
  .signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    background: #79B49F;
    border: none;
    border-radius: 5px;
    font-size: 18px;
  }
}